Doc/

data/
*.db
*.db-shm
*.db-wal

[Dd]ebug/
[Rr]elease/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs
.idea/
*.sln.iml

*.rsuser
*.nupkg
*.snupkg
**/packages/*
!**/packages/build/
*.nuget.props
*.nuget.targets

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

node_modules/
dist/

.DS_Store
Thumbs.db

*.Development.json
*.Development.*.json

.env
.env.local
.env.production
.env.production.build
.env.*.local
.env.development
!.env.example
